<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <p> <%= @user.fname %> <%= @user.lname %> has signed up</p>
  <br>
  <p> Team Name: <%=@user.team_name%></p>
</body>
</html>