<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <p> The next match starts in 24 hours and you haven't picked!</p>
  
  <p> Log in and pick before kick off tomorrow to avoid an autopick</p>

  <p><%=@url%></p>
</body>
</html>