<% unless @current_matchday > 19 %>
<div class="switch-button switch_3_btn_inactive"><span class="active_3_btn active_start_left"></span>
  <button class="switch-button-case left-button active-case">1st Half</button>
  <button class="switch-button-case center-button disabled-case">Season</button>
  <button class="switch-button-case right-button disabled-case">2nd Half</button>
</div>
<% else %>
<div class="switch-button switch_3_btn"><span class="active_3_btn active_start_mid"></span>
  <button class="switch-button-case left-button">1st Half</button>
  <button class="switch-button-case center-button active-case">Season</button>
  <button class="switch-button-case right-button">2nd Half</button>
</div>
<% end %>