  <%= render 'picks/standings/standings_buttons' %>
  <div class="table-responsive stdgs_table_container">
    
    <%= render 'picks/standings/first_half_table' %>
    <% unless @second_timer < 1%>
    <%= render 'picks/standings/seasontable' %>
    <%= render 'picks/standings/second_half_table' %>
    <%end%>
  </div>

<script type="text/javascript">
highlightCells();
teamOrName();
setColumn();
</script>
