  <%= render 'epldata/table/table_buttons'%>
<div class="table-responsive epl_table_container">
  <div class="space_holder"></div>
  <%= render 'epldata/table/table_current'%>
  <%= render 'epldata/table/table_prev'%>
</div>

<script>
  if (window.matchMedia("(min-width: 768px)").matches) {
    $(document).ready(function () {
        $('.team_cell').each(function() {
          let tou = this.title;
          $(this).attr('title', $(this).text())
          $(this).text(tou)
          $(this).attr('text-align', 'left')
        });
      });
    } else {
      /* the viewport is less than 400 pixels wide */
    };
</script>