.btn-std{
  position: relative;
  display: block;
  margin: 0 auto;
  color: white !important;
  width: fit-content;
}
.landing-btn{
  border: solid white 1px !important;
  margin: 5% !important;
  font-size: 2em !important;
}