// Place all the styles related to the epldata controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.space_holder{
  width:inherit;
  height: 880px;
}
.epl_table {
  text-align: center;
  line-height: 1;
  background-color: var(--table_bkgd_color) !important;
  border: 1px solid black;
  border-bottom: 1px solid black;
  margin-bottom: 0 !important;
  position: absolute;
  width:inherit;
  top:0;
  tr {
    border: 1px solid black;
    td, th {
      border: inherit;
      border-bottom: 1px solid black;
    }
    .no_phone{
      display: none;
    }
  }
  td:nth-child(-n + 2){
  background-color: #EDEAEA;
  opacity: .7;
  }
}
.prev_table{
  // display: none;
  visibility: hidden;
}

@media only screen
and (min-width: 640px)
and (max-width: 812px)
and (orientation: landscape) {
    /* For landscape mobile: */
  .no_phone{
    display: table-cell !important;
  }
}
@media only screen and (min-width: 813px) {
  /* For desktop: */
    .no_phone{
    display: table-cell !important;
  }
}