:root{
--mp_row_height: 80px;
--mp_half_row_height: calc(var(--mp_row_height)/2);
--mp_row_height_desktop: 50px;
--mp_half_row_height_desktop: calc(var(--mp_row_height_desktop)/2);
}
.firsthalf_table, .sechalf_table{
  border: 1px solid black;
  tr{
    th, td{
      border: 1px solid black;
    }
  }
}
.sechalf_table{
  display: none;
}
.picked_span{
  color: #5E5E5D;
}
.mp_container{
  position: relative;
  height: 71%;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: 25% 75%;
  outline: 2px solid black;
  width: 99%;
  background: var(--table_bkgd_color);
  margin: 0 .5% 2% .5%;
  color: black;
  max-height: 100%;
  overflow: scroll;
}
.mp_col1{
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: 20;
}
.mp_matches{
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: 20;
  outline: 1px solid black;
  overflow: scroll;
}
.mp_matchday{
  max-width: none;
  border-bottom: 1px solid black;
  overflow: hidden;
  padding: 0 2%;
  .matchday_scroll{
    height: 100%;
    margin-bottom: -50px;
    padding-bottom: 50px;
    overflow-y: hidden;
    overflow-x: scroll;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    scroll-snap-type: x mandatory;
    .mp_match_row{
      white-space: nowrap;
      height: var(--mp_half_row_height);
    }
  }
  .matchday_scroll::-webkit-scrollbar {
    display:none;
}
}
.mp_matchday, .mp_col1_unit{
  height: var(--mp_row_height);
}
.mp_col1_unit{
  position: relative;
  border-bottom: 1px solid black;
}
.mp_match{
  width: 48%;
  text-align: left;
  display: inline-block;
  position: relative;
  margin: 0 1%;
  height: 100%;
  scroll-snap-align: start
}
.mp_match_gr{
  height: 100%;
  width:100%;
  display: inline-grid;
  grid-template-columns: 25% 15% 20% 15% 25%;
  img{
    height:22px;
    width:22px;
    place-self: center;
  }
  .score_span{
    place-self: center;
    text-align: center;
    grid-column-start: 3;
    position: relative;
    margin: 0 auto;
  }
  .tspan{
    place-self: center;
    font-size: 16px;
  }
  .hteam{
    @extend .tspan;
    grid-column-start: 1;
  }
  .ateam{
    @extend .tspan;
    grid-column-start: 5;
  }
  .himage{
    grid-column-start: 2;
  }
  .aimage{
    grid-column-start: 4;
  }
}
.mp_form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  form{
    margin: 18%;
  }
}
.mypicks_sub{
    position: relative;
    left: 50%;
    transform: translate3D(-50%, 0, 0);
    background-color: white;
    height: 40px;
    font-size: 20px;
    width: 90%
}

@media only screen
and (min-width: 640px)
and (max-width: 812px)
and (orientation: landscape) {
    /* For landscape mobile: */
  .mp_container{
    height: 71%;
    margin: 0 .5% 1% .5%
  }
  .mp_select1, .mp_select2 {
    width: 100% !important;
  }
}
@media only screen and (min-height: 640px) {
 .mp_container{
    height: 77%;
  }
}
@media only screen and (min-height: 668px) {
  .mp_container{
    height: 80%;
  }
}
@media only screen and (min-width: 813px) {
  /* For desktop: */
  .mp_container{
    width: 90%;
    margin-bottom: 5%;
    grid-template-columns: 13% 87%;
    margin: 0 auto;
    margin-top: - 0.5%;
    height: 76%
  }
  .mypicks_sub{
    margin-top: 1%;
  }
  .mp_matchday, .mp_col1_unit{
  height: var(--mp_row_height_desktop);
  }
  .mp_match_row{
    height: var(--mp_half_row_height_desktop) !important;
  }
  .mp_matchday{
    max-width: none ;
    margin: 0 auto ;
    padding: 0;
  }
  .mp_match{
    width: 17.5%;
    text-align: center;
    margin: 0 1%;
  }
  .mp_form{
    form{
      margin-left: 4%;
    }
  }
  .mp_match_gr{
    img{
      height:18px;
      width:18px;
    }
    .hteam{
      justify-self: end;
    }
    .ateam{
      justify-self: start;
    }
  }
}