.rules_table{
  position: relative;
  table-layout: auto;
  background-color: #EDEAEA;
  opacity: .7;
  border: 1px solid white;
  border-collapse: collapse;
  float: left;
  margin-right: 32px;
  tr, th, td{
    border: 1px solid black;
    text-align: center;
  }
}
.rules_sec{
  position: relative;
  margin: 0 4%;
  height: auto;
  overflow: scroll;
  margin-bottom: 12px;
}
.points_list{
  position: relative;
}