.switch-button{
    width: 98%;
    text-align: center;
    position: relative;
    margin: 0 auto;
    will-change: transform;
    z-index: 197 !important;
    cursor: pointer;
    transition: .3s ease all;
    border: 1px solid white;
    height: 40px;
    font-size: 11px;
    margin-bottom: 1%;
    &-case{
        display: inline-block;
        background: none;
        height: 100%;
        color: white;
        position: relative;
        border: none;
        transition: .3s ease all;
        text-transform: uppercase;
        letter-spacing: 4px;
        padding-bottom: 1px;
        &:hover{
            color: grey;
            cursor: pointer;
        }
        &:focus {
            outline: none;
        }
    }
    .active_base {
        color: #151515;
        background-color: white;
        position: absolute;
        top: 0;
        height: 100%;
        z-index: -1;
        transition: .3s ease-out all;
    }
    .active_3_btn{
        @extend .active_base !optional;
        width: 32%;
    }
    .active_2_btn{
        @extend .active_base !optional;
        width: 50%;

    }
    .active-case{
        color: #151515;
    }
    .disabled-case{
        color: grey;
        cursor: not-allowed !important;
    }
}
.active_start_left{
    left: 0;
}
.active_2_btn_second{
    left: 50%;
}
.active_start_mid{
    left: 33.5%;
}

.switch_3_btn{
    button{
        width: 32%
    }
}
.switch_3_btn_inactive{
    @extend .switch_3_btn !optional;
}
.switch_2_btn{
    button{
        width: 49%;
    }
}

@media only screen
and (min-width: 640px)
and (max-width: 812px)
and (orientation: landscape) {
    /* For landscape mobile: */

}
@media only screen and (min-width: 813px) {
  /* For desktop: */
  .switch-button{
    width: 40%;
  }
}