<div class="switch-button switch_2_btn"><span class="active_2_btn active_2_btn_second"></span>
  <button class="switch-button-case first_2_btn">
    Last Season
  </button>
  <button class="switch-button-case second_2_btn active-case">
    Current
  </button>
</div>