
<footer class="foot mt-auto py-3 bg-dark text-white-50">
  <a class="foot_link" href="https://www.football-data.org/" target="_blank">Football data provided by the Football-Data.org API</a>
</footer>